<!-- <ul class="nav nav-pills nav-justified">
    <li class="nav-item">
      <a class="nav-link active" [routerLink]="['parent']" routerLinkActive="active"  >Parent</a>
    </li>
    <li class="nav-item" >
      <a class="nav-link" [routerLink]="['child']" routerLinkActive="active" >Child</a>
    </li>

  </ul> -->

<!-- Parent child data communication -->
<!-- <app-parent><app-parent> -->

<!-- Using services -->

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <app-seperate1></app-seperate1>
    </div>
    <div class="col-sm-6">
      <app-seperate2></app-seperate2>
    </div>
  </div>
</div>
<!-- <router-outlet></router-outlet> -->
