<div class="container-fluid">
    <div class="col-sm-12">
   
          <nav class="nav nav-pills nav-fill">
            <a class="nav-link " routerLink="http" routerLinkActive="active">HTTP</a>
            <a class="nav-link" routerLink="observable" routerLinkActive="active">Observable</a>
            <a class="nav-link" routerLink="operators" routerLinkActive="active">Operators</a>

          </nav>
    </div>
    <div class="col-sm-12">
        <router-outlet></router-outlet>
    </div>
</div>